{{view Ember.Select content=this optionValuePath="content.id" optionLabelPath="content.name"}}
<ul>{{#each}}
<li>


{{#link-to 'account' id}}edit{{/link-to}}
{{#link-to 'transactions' id}}{{name}}{{/link-to}} 
{{total}}
</li>

{{/each}}
</ul>
